<div class="container">
   <% if @user.errors.any? %>
   <%= @user.errors.count %>error prohibited this obj from being saved:
   <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   </ul>
   <% end %>
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="info">User info</h2>
      <%= form_with model: @user do |f| %>
      <div class="user-name  form-group">
          <lable for="inputName">Name</lable>
          <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="user-image">
          <label for="inputImage">Image</label>
          <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
      </div>

      <div class="user-introduction">
          <lable for="inputIntroduction">Introduction</lable>
          <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <%= f.submit 'Update User', class: "btn btn-secondary" %>
      <% end %>
  </div>
 </div>
</div>
