<h2>Users</h2>
<%= @books.each do |book| %>

<h4>image</h4>
<% if user.image.attached? %>
 <%= image_tag user.image, size: "200x200" %>
<% else %>
 <%= image_tag 'no_image', size: "200X200" %>
<% end %>

<h4>name</h4>
<%= f.text_area :name%>

<%= link_to "Show", user_path %>

<% end %>

<%= render 'books/list', books: @books %>