<div class="container">
 <div class="row">
  <div class="col-md-3">
    <h2>User Info</h2>
      <%= image_tag @book.user.get_image, size:"100x100" %>
    <div class="user-info">
    <div class="user-name">name
      <%= @book.user.name %>
    </div>
    <div class="user-body">introduction
      <%= @book.user.introduction %>
    </div>
    </div>

     <%= link_to edit_user_path(@book.user.id), class: "btn btn-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
     <% end %>

    <%= render 'list', book: @new_book %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h2 class="info">Book detail</h2>
    <table class="books-table">
     <thead>
     <tr>
      <th></th>
      <th></th>
      <th></th>
     </tr>
    </thead>
      <tbody>
        <tr>
          <td><%= link_to user_path(@book.user.id) do %>
           <%= image_tag @book.user.get_image, size:"100x100" %>
           <% end %>
           </td>
          <%= link_to @book.user.name, user_path(@book.user.id) %>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td>
           <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
           <% end %>
          </td>
          <td>
            <% if @book.user == current_user %>
             <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" =>"本当に消しますか？", class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
</div>
